<!DOCTYPE  html>
<html lang="en" ng-app="myInject">
<head>
    {{template "header" .}}
    <style>
        body { padding-top: 60px; }
    </style>
    <script>
        var myInject = angular.module("myInject",[]);
        myInject.controller("ChatController", ["$scope", function($scope) {
            var socket = null;
            var wsuri = "ws://" + location.host + location.pathname + "ws";
            var uuid = Date.now().toString();
            $scope.messages = [];
            $scope.roster = [];
            $scope.name = '';
            $scope.text = '';

            socket = new WebSocket(wsuri);
            socket.onopen = function () {
                $scope.setName();
            };
            window.onunload = function (ev) {
                socket.send(JSON.stringify({"Method":"Logout","uuid":uuid,"Data": ""}));
            };
            socket.onclose = function (ev) {
                socket.send(JSON.stringify({"Method":"Logout","uuid":uuid,"Data": ""}));
            };
            socket.onmessage = function (ev) {
                console.log("message receiver:" + ev.data);
                //处理服务端消息
                var m = JSON.parse(ev.data);
                switch (m.Method){
                    case "ClientUpdate":
                        $scope.roster = JSON.parse(ev.data).Data;
                        $scope.$apply();
                        break;
                    case "BroadcoastMsg":
                        $scope.messages.push(JSON.parse(ev.data).Data);
                        $scope.$apply();
                        break;
                }

                // $scope.$apply();
            };

            $scope.send = function send() {
                console.log('Sending message:', $scope.text);
                socket.send(JSON.stringify({"Method":"sendMsg","uuid":uuid,"Data": {"UserName":$scope.name,"Message": $scope.text}}));
                $scope.text = '';
            };

            $scope.setName = function setName() {
                socket.send(JSON.stringify({"Method":"setName","uuid":uuid,"Data": $scope.name}));
            };
        }])
    </script>
</head>
<body>
<div class="container" ng-controller="ChatController">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="pull-right">
                <a href="https://c9.io" class="navbar-brand">ChatRoom-CSS From Cloud9</a>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h1>Chat Example</h1>
    </div>
    <div class="row show-grid">
        <div class="col-md-3">
            <ul class="nav nav-list well">
                <li class="nav-header">Local Users</li>
                <li ng-repeat="user in roster" ng-bind="user.UserName">
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-8">Text</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="msg in messages">
                    <td class=".col-md-2" ng-bind="msg.UserName"></td>
                    <td class=".col-md-7" ng-bind="msg.Message"></td>
                </tr>
                </tbody>
            </table>
            <div class="row controls">
                <form ng-submit="send()">
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="name" ng-change="setName()" placeholder="Your Name">
                    </div>
                    <div class="col-md-8 input-group">
                        <input type="text" class="form-control" ng-model="text" placeholder="Message">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary"  value="Send" ng-disabled="!text">Send</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
</body>
</html>