<!DOCTYPE html>
<html lang="en" ng-app="myInject">
<head>
    <style>
        body {padding-top: 60px;}
    </style>
    {{template "header" .}}
    <script>
        var myInject = angular.module("myInject",[]);
        myInject.controller("myController", ["$scope","$http", function($scope, $http) {
            $scope.Send = function Send() {
                $http({
                    method: $('#method').text(),
                    url: './GET'
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            };
            $scope.Switch = function Switch(a) {
                $('#method').html(a + '<span class="caret"></span>');
            }
        }])
    </script>
</head>
<body ng-controller="myController">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="pull-right">
                <a class="navbar-brand">RESTTest</a>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal">
    <div class="container">
        <div class="form-group">
            <div class="btn-group col-sm-2">
                <button class="btn dropdown-toggle" data-toggle="dropdown" id="method">GET<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="Switch('POST')" id="POST">POST</a></li>
                    <li><a href="#" ng-click="Switch('GET')" id="GET">GET</a></li>
                    <li><a href="#" ng-click="Switch('PUT')" id="PUT">PUT</a></li>
                    <li><a href="#" ng-click="Switch('DELETE')" id="DELETE">DELETE</a></li>
                </ul>
            </div>
            <input type="url" class="input-medium search-query col-sm-8" value="https://www.baidu.com">
            <button class="btn btn-primary dropdown-toggle col-sm-2" data-toggle="dropdown" ng-click="Send()">Send</button>
        </div>
        <textarea class="form-control" title="body" style="margin-top: 30px;height: 200px"></textarea>
    </div>
</form>
    {{template "footer" .}}
</body>
</html>